.side-bar ul li {
  list-style: none;
  line-height: 50px;
  font-size: 20px;
  margin-top: 12px;
}

.side-bar ul li:hover {
  background: cornflowerblue;
}

.side-bar {
  background-color: rgba(255, 106, 106, 0.18);
}
